
body {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #0051BA;
    top: 0;
    position: fixed;
    width: 100%;
    color: white;
    font: 22px "Raleway",sans-serif;
    letter-spacing: 2.1px;
    padding-left: 5px;
    z-index: 2;
    height: 40px;
}

.float-child {
    float: left;
    color: #ffc82d;
    font: 14px "Raleway",sans-serif;
    font-style: italic;
}

.float-child:first-child {
    color: white;
    font: 22px "Raleway",sans-serif;
    position: relative; 
    top: -13px; 
    padding-left: 15px;
}

.renew {
    color: white;
    float: right;
    padding-right: 50px;
    position: relative;
    top: 8px;
}

.linkbar {
    background-color:grey;
    position: relative;
    width: 100%;
    color: white;
    font: 18px "Raleway",sans-serif;
    letter-spacing: 2.1px;
    z-index: 1;
    height: 25px;
    padding-left: 50px;
    padding-top: 20px;
}

.background_box {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("main_background.jpg");
    opacity: 50%;
    position: fixed;
    top: 40px;
    z-index: -1;
}

.column {
    float: left;
    height: 450px;
    z-index: 1;
}

.red{
    width: 20%;
    background-color: #E8000D;
    opacity: 90%;
    z-index: 1;
    color: white;
}

.main {
    width: 80%;
    opacity: 100%;
    color: black;
    background-color: rgba(255,255,255, 0.15);
    font: 20px "Raleway",sans-serif;
    padding: 0;
}

.text_container {
    padding-left: 30px;
    padding-top: 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.icon_location {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    text-align: center;
    padding-top: 25;
}

.location {
    color: white;
    font: 55px "Raleway",sans-serif;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    text-align: center;
}

.top_credits {
    position: relative;
    height:2px;
    background-color: #ffc82d;
}

.mid_credits {
    position: relative;
    height:4px;
    background-color: #E8000D;
}

.bot_credits {
    position: relative;
    height:340px;
    background-color: #0051BA;
}

.botgray_credits {
    position: relative;
    height:20px;
    background-color: grey;
}

.fbutton {
    background-color: grey;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 32px;
    margin-top: -20px;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.fbutton:hover{
    background-color: rgb(41, 41, 41);
}

.fbutton2:hover {
    background-color: #ffc82d;
    color: black;
}

.fbutton3:hover {
    background-color: white;
    color: #E8000D;
}


.fbutton2 {
    background-color: #c5c5c5;
    cursor: not-allowed;
}

.fbutton3 {
    background-color: #E8000D;
    /*margin-left: 450px;*/
    /*margin-top: 30px;*/
}

.text_box {
    background-color: rgb(226, 226, 226);
    color: gray;
    font-size: 20px;
    font-style: italic;
    border-color: transparent;
    border-radius: 32px;
    padding: 15px 32px;
    margin-left: 20px;
    outline: none;
    transition-duration: 0.3s;
    width: 10%;
}

.text_box:focus {
    background-color: white;
    border-radius: 14px;
}

.custom_icon_1 {
    color:gray;
    margin-top: 20px;
}

.custom_icon_2 {
    color: white;
}

.roomnum{
    font-weight: bold;
    padding-right: 10px;
    padding-left: 20px;
}

.map {
    display: block;
    background-color: rgba(255,255,255, 0.45);
    width: 80%;
    height: 1270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 45px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 80px;
}

svg{
    position: absolute;
    height: 100%;
    width: 100%;
}

#map_img {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50;
    height: 1250px;
    width: 70%;
    opacity: 85%;
}

.team_members {
    width: 60%;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    letter-spacing: 150px;
    text-align: center;
}

.team_members:Hover {
    font-size: 1.1rem;
}

.people {
    color: #ffc82d;
    font: 22px "Raleway",sans-serif;
    letter-spacing: 2.1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}
    
.Darrin {
    display: inline-block;
    width: 280px;
    font-weight: bold;
    transition: 0.8s;
}

.Darrin:Hover{
    color: red;
    font-size: 1.8rem;
}

.Joshua {
    display: inline-block;
    width: 280px;
    font-weight: bold;
    transition: 0.8s;
}

.Joshua:Hover{
    color: red;
    font-size: 1.8rem;
}

.Trey {
    display: inline-block;
    width: 280px;
    font-weight: bold;
    transition: 0.8s;
}

.Trey:Hover{
    color: red;
    font-size: 1.8rem;
}

.Tyler {
    display: inline-block;
    width: 280px;
    font-weight: bold;
    transition: 0.8s;
}

.Tyler:Hover{
    color: red;
    font-size: 1.8rem;
}

.contact {
    padding-top: 10px;
    color: gray;
    font-size: 12px;
    font-style: italic;
}

.glue {
    margin-left: auto;
    margin-right: auto;
    height: 1250px;
}

.logicmap {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 1250px;
    width: 70%;
    padding-left: 5%;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.051);
    color: red;
    border-spacing: 0px;
    border-collapse: separate;
    table-layout: fixed;
    height: 1250px;
}

td {
    width: 1.01%;
    height: 1%;
    font-size: 0.1px;
    overflow: hidden;
}